.rigth-side{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: green;
    color: white;
    padding: 10px;
}
.box{
    background-color: white;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    left: 1050px;
    bottom: 300px;
}
.para1{
    font-weight: bold;
    padding: 5px;
}
.para2{
    font-size: 12px;
    padding: 5px;
}
.button{
    font-size: 10px;
}
.body{
    background-color:  rgba(0,0,0,0.8);
}