.div{
    font-family: Arial;
}
.header{
    display: flex;
    background-color: rgb(120, 82, 178);
    color: white;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;

}
.home-link{
    
    font-weight: bold;
}
.text-box{
    width: 500px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
}
.button{
    color: white;
    border-style: solid;
    font-size: 16px;
    background-color: rgb(120,82,178);
    border-radius: 2px;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    
}